{% extends "template.html" %}
{% block intro %}
  <section class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="intro-text"><h1>Running partners... 
for people studying web development</h1>

                                             <p>We work through tutorials and pair program <br />spontaneously on Google Hangouts.</p>

                        </div>
                       
                    
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
