{% extends "template.html" %}
{% block content %}
	
	<a href="/logout">Logout</a>
	<div class="add-task">
		<h3>Propose a new hangout:</h3>
			<form action="{{ url_for('new_hangout')}}" method="post">
				<div class="form-group">
					<label for="inputTitle">Title:</label>
					<input name="title" type="text" class="form-control" placeholder="Let's study Chapter 5 of Eloquent Javascript" id="inputTitle">
				
				</div>
				<div class="form-group">
					<label for="inputDate">Time:</label>
					<input name="hangout_date" type="text" class="form-control" placeholder="e.g. Friday, 10/8 8-10pm EST" id="inputDate">
				</div>
				<div class="form-group">
					<label>Level:</label>
					<select name="level" width="100px">
						<option value="1">Beginner</option>
						<option value="2">Intermediate</option>
						<option value="3">Advanced</option>
					</select>
				
				
					<label>Tag:</label>
					<select name="language" width="100px">
						<option value="1">Javascript</option>
						<option value="2">HTML/CSS</option>
						<option value="3">Python</option>
						<option value="3">Ruby on Rails</option>
						<option value="3">Git</option>
						<option value="3">Data Structures and Algorithms</option>
					</select>
				</div>

				<div class="form-group">
					<p>
						<label>What do you want to accomplish during the hangout?</label>
					<textarea name="description" class="form-control" placeholder="Our goal is to...">
						
					</textarea>
				</p>
			
					<input class="button" type="submit" value="Save">
				</div>
				
		</form>
		
	</div>



<div class="entries">
	<br />
	<br />
<h2>Upcoming Hangouts:</h2>
<div class="datagrid">
	<table>
		<thead>
			<tr>
				<th width="300px"><strong>Title</strong></th>
				<th width="100px"><strong>Hangout Date</strong></th>
				<th width="50px"><strong>Level</strong></th>
				<th width="50px"><strong>Language</strong></th>
				<th width="50px"><strong>Description</strong></th>
				<th width="50px"><strong>Status</strong></th>
			</tr>
		</thead>
	{% for o in open_tasks %}
	<tr>
		<td width="300px">{{ o.title }} </td>
		<td width="100px">{{ o.hangout_date }}</td>
		<td width="50px">{{ o.level }}</td>
		<td width="50px">{{ o.language }}</td>
		<td width="50px">{{ o.description }}</td>
	<td>
		<a href="{{ url_for('delete_entry', hangout_id = o.hangout_id) }}">Delete</a>
		<a href="{{ url_for('complete', hangout_id = o.hangout_id)}}">Mark as Complete</a>
	</td>
</tr>
{% endfor %}
</table>
</div>

<br >
<br >
</div>

<div class="entries">
	<h2>Previous hangouts:</h2>
	<div class="datagrid">
		<table>
			<thead>
				<tr>
					<th width="300px"><strong>Task Name</strong></th>
					<th width="100px"><strong>Due Date</strong></th>
					<th width="50px"><strong>Priority</strong></th>
					<th><strong>Actions</strong></th>
				</tr>
			</thead>

		{% for c in closed_tasks %}
		<tr>
			<td width="300px"> {{ c.name }}</td>
			<td width="100px"> {{ c.due_date }}</td>
			<td width="50px"> {{ c.priority }}</td>
		<td>
			<a href="{{ url_for('delete_entry', hangout_id = c.hangout_id) }}">Delete</a>
		</td>
	</tr>
{% endfor %}
</table>
</div>
</div>
{% endblock %}




































