{% extends "template.html" %}
{% block content %}
	<h1>CodeBuddies - Propose a Hangout</h1>
	<a href="/logout">Logout</a>
	<div class="add-task">
		<h3>Propose a new hangout:</h3>
	<table>
<!-- 
			title = request.form['title']
	date = request.form['hangout_date']
	level = request.form['level']
	language = request.form['language']
	description = request.form['description'] -->
		<tr>
			<form action="{{ url_for('new_hangout')}}" method="post">
				<td>
					<label>Hangout Title:</label>
					<input name="title" type="text">
				</td>
				<p>
					<td>
						<label>Hangout Time:</label>
					<input name="hangout_date" type="text" width="120px">
					</td>
				</p>
			<td>
				<label>Level:</label>
			<select name="level" width="100px">
				<option value="1">Beginner</option>
				<option value="2">Intermediate</option>
				<option value="3">Advanced</option>
			</select>
			<select name="language" width="100px">
				<option value="1">Beginner</option>
				<option value="2">Intermediate</option>
				<option value="3">Advanced</option>
			</select>
			<textarea name="description">
				aksdfjasdf
			</textarea>
		</td>
		<td>
			&nbsp;
			&nbsp;
		<input class="button" type="submit" value="Save">
	</td>
</form>
</tr>
</table>
</div>
<div class="entries">
	<br />
	<br />
<h2>Upcoming Hangouts:</h2>
<div class="datagrid">
	<table>
		<thead>
			<tr>
				<th width="300px"><strong>Hangout Title</strong></th>
				<th width="100px"><strong>Hangout Date</strong></th>
				<th width="50px"><strong>Level</strong></th>
			</tr>
		</thead>
	{% for o in open_tasks %}
	<tr>
		<td width="300px">{{ o.title }} </td>
		<td width="100px">{{ o.hangout_date }}</td>
		<td width="50px">{{ o.level }}</td>
	<td>
		<a href="{{ url_for('delete_entry', hangout_id = o.hangout_id) }}">Delete</a>
		<a href="{{ url_for('complete', hangout_id = o.hangout_id)}}">Mark as Complete</a>
	</td>
</tr>
{% endfor %}
</table>
</div>

<br >
<br >
</div>

<div class="entries">
	<h2>Previous hangouts:</h2>
	<div class="datagrid">
		<table>
			<thead>
				<tr>
					<th width="300px"><strong>Task Name</strong></th>
					<th width="100px"><strong>Due Date</strong></th>
					<th width="50px"><strong>Priority</strong></th>
					<th><strong>Actions</strong></th>
				</tr>
			</thead>

		{% for c in closed_tasks %}
		<tr>
			<td width="300px"> {{ c.name }}</td>
			<td width="100px"> {{ c.due_date }}</td>
			<td width="50px"> {{ c.priority }}</td>
		<td>
			<a href="{{ url_for('delete_entry', hangout_id = c.hangout_id) }}">Delete</a>
		</td>
	</tr>
{% endfor %}
</table>
</div>
</div>
{% endblock %}




































