{% extends "template.html" %}
{% block content %}
	<div>
	<a class="btn button propose" data-toggles=".toggleForm">Propose a hangout</a>

	<div class="add-hangout toggleForm" style="display: none;">
			<form action="{{ url_for('new_hangout')}}" method="post">
				<div class="form-group">
					<label for="inputTitle">Hangout Title:</label>
					<input name="title" type="text" class="form-control" placeholder="Let's study Chapter 5 of Eloquent Javascript" id="inputTitle">
				
				</div>
				<div class="form-group">
					<label for="inputDate">Time:</label>
					<input name="hangout_date" type="text" class="form-control" placeholder="e.g. Friday, 10/8 8-10pm EST" id="inputDate">

				</div>
				<div class="form-inline">
					<label>Level:</label>
					<select name="level" width="100px" class="form-control">
						<option value="Beginner">Beginner</option>
						<option value="Intermediate">Intermediate</option>
						<option value="Advanced">Advanced</option>
					</select>
				
				
					<label>Tag:</label>
					<select name="language" width="100px" class="form-control">
						<option value="Javascript">Javascript</option>
						<option value="HTML/CSS">HTML/CSS</option>
						<option value="Python">Python</option>
						<option value="Ruby on Rails">Ruby on Rails</option>
						<option value="Git">Git</option>
						<option value="Data Structures and Algorithm">Data Structures and Algorithms</option>
					</select>
				</div>

				<div class="form-group">
					<p>
						<label>What do you want to accomplish during the hangout?</label>
					<textarea name="description" class="form-control">
						
					</textarea>
				</p>
			
					<input class="button btn" type="submit" value="Save">
				</div>
				
		</form>
		
	</div>



<div class="entries">
	<br />
	<br />
<h2>Upcoming Hangouts:</h2>
<div class="datagrid">
	<table>
		<thead>
			<tr>
				<th width="150px"><strong>Hangout Title</strong></th>
				<th width="100px"><strong>Meetup Time</strong></th>
				<th width="50px"><strong>Level</strong></th>
				<th width="50px"><strong>Language</strong></th>
				<th width="150px"><strong>Description</strong></th>
				<th width="50px"><strong>Status</strong></th>
			</tr>
		</thead>
	{% for o in open_tasks %}
	<tr>
		<td width="300px">{{ o.title }} </td>
		<td width="100px">{{ o.hangout_date }}</td>
		<td width="50px">{{ o.level }}</td>
		<td width="50px">{{ o.language }}</td>
		<td width="50px">{{ o.description }}</td>
	<td>
		<a href="{{ url_for('delete_entry', hangout_id = o.hangout_id) }}"><i class="fa fa-times"></i></a>
		<a href="{{ url_for('complete', hangout_id = o.hangout_id)}}"><i class="fa fa-check"></i></a>
	</td>
</tr>
{% endfor %}
</table>
</div>

<br >
<br >
</div>

<div class="entries">
	<h2>Previous hangouts:</h2>
	<div class="datagrid">
		<table>
			<thead>
				<tr>
					<th width="150px"><strong>Hangout Title</strong></th>
				<th width="100px"><strong>Meetup Time</strong></th>
				<th width="50px"><strong>Level</strong></th>
				<th width="50px"><strong>Language</strong></th>
				<th width="150px"><strong>Description</strong></th>
				<th width="50px"><strong>Status</strong></th>
				</tr>
			</thead>

		{% for c in closed_tasks %}
		<tr>
			<td width="300px"> {{ c.title }}</td>
				<td width="100px">{{ c.hangout_date }}</td>
		<td width="50px">{{ c.level }}</td>
		<td width="50px">{{ c.language }}</td>
		<td width="50px">{{ c.description }}</td>
		<td>
			<a href="{{ url_for('delete_entry', hangout_id = c.hangout_id) }}"><i class="fa fa-times"></i></a>
		</td>
	</tr>
{% endfor %}
</table>
</div>
</div>
</div>
{% endblock %}




































