<!DOCTYPE html>
<html>
	<head>
		<title>CodeBuddies.org</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		 <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>

	</head>
	<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
		 <nav class="navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="heavy" href="#page-top">
                      <span class="light"><i class="fa fa-code"></i> Code<span class="green">Buddies.org</span></span> 
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                   
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="resources">Resources</a>
                        
                    <li class="page-scroll">
                        <a href="#faq">FAQ</a>
                    </li>
                    <li class="page-scroll">
                        <a href="http://bit.ly/10HTO4w" target="_blank">Blog</a>
                    </li>
                    <li class="page-scroll">
                            {% if not session.logged_in %}
                            <a href="{{ url_for('login') }}">Log in</a>
                             {% else %}
                            <a href="{{ url_for('logout') }}">Log out</a>
                            {% endif %}
                            
                    </li>
                   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

   
   {% block intro %}
   {% endblock %}


		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">


			{% for message in get_flashed_messages() %}
			<div class="flash">{{message}}</div>
		{% endfor %}
		{% if error %}
			<div class="error"><strong>Error:</strong> {{error}}</div>
		{% endif %}

		{% block content %}
		{% endblock %}

			</div>
			</div><!--row-->
		</div><!--container-->

		 <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
   		 <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
   		 <script src="{{ url_for('static', filename='js/script.js') }}"></script>
   		

	</body>
</html>

